<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout">

<div layout:fragment="content">
    <h1>Detalles del Usuario</h1>
    <div>
        <hr />
        <dl>
            <dt class = "col-sm-2"></dt>
            <dd class = "col-sm-10" th:text="${usuario.id}"></dd>

            <dt class = "col-sm-2"></dt>
            <dd class = "col-sm-10" th:text="${usuario.login}"></dd>

            <dt class = "col-sm-2"></dt>
            <dd class = "col-sm-10" th:text="${usuario.clave}"></dd>

            <dt class = "col-sm-2"></dt>
            <dd class = "col-sm-10" th:text="${usuario.status}"></dd>

            <dt class = "col-sm-2"></dt>
            <dd class = "col-sm-10" th:text="${usuario.rol}"></dd>
        </dl>

        <a th:href="@{/Usuarios/edit/{id} (id = ${usuario.id}) }" class="btn btn-outline-info">Editar</a> |
        <a th:href="@{/Usuarios}" class="btn btn-secondary">Regresar</a>
    </div>
</div>
</html>